<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta Médica</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .receta {
            width: 95%;
            margin: 10px auto;
            padding: 10px;
            background: #fff;
            border: 2px solid #000;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .receta-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .receta-header h1 {
            font-size: 24px;
            color: #003366;
            margin: 0;
        }
        .receta-header .fecha {
            font-size: 14px;
            color: #ff4500;
        }
        .receta-section {
            margin: 15px 0;
        }
        .receta-section h3 {
            margin: 0 0 5px;
            font-size: 18px;
            color: #003366;
            border-bottom: 2px solid #003366;
        }
        .receta-section p {
            margin: 5px 0;
            font-size: 16px;
        }
        .highlight {
            font-weight: bold;
        }
        .firma-medico {
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
            color: #003366;
            position: relative;
        }
        .firma-medico::before {
            content: "";
            display: block;
            height: 100px;
            background: url('firma.png') no-repeat center;
            background-size: contain;
        }

        .header-title {
            width: 100%;
            text-align: center;
        }

        .item-flex {
            display: inline-block;
        }

        .firma-border {
            display: inline;
            padding: 0.3em 2em;
            border-top: 1px solid #000;
        }

        .uppercase {
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div class="receta">
        <div class="receta-header">
            <h1 class="header-title">RECETA MÉDICA</h1>
            <div class="fecha">{{ datetime }}</div>
        </div>

        <div class="receta-section">
            <h3>Información del Paciente</h3>
            <p>
                <span class="highlight">Nombre completo: </span> 
                {{ office.attention?.medicalConsultation?.patient?.name }} {{ office.attention?.medicalConsultation?.patient?.lastname }}
            </p>
            <div>
                <p class="item-flex">
                    <span class="highlight">Edad: </span> 
                    {{ birthday() }} años
                </p>
                <p class="item-flex">
                    <span class="highlight">Sexo: </span> 
                    {{ office.attention?.medicalConsultation?.patient?.gender }}
                </p>
            </div>
            <p class="item-flex">
                <span class="highlight">Talla:</span>
                {{ office.attention.talle }} cm
            </p>
            <p class="item-flex">
                <span class="highlight">Peso:</span> 
                {{ office.attention.weigth }} Kg
            </p>
            <p class="item-flex">
                <span class="highlight">IMC:</span> 
                {{ office.attention.imc }}
            </p>
            <p class="item-flex">
                <span class="highlight">Temperatura:</span> 
                {{ office.attention.weigth }} C°
            </p>
            <p class="item-flex">
                <span class="highlight">Presión arterial:</span> 
                {{ office.attention.mmhg }} mmhg
            </p>
        </div>

        <div class="receta-section">
            <h3>Diagnóstico</h3>
            <ul>
                @each(item in office.diagnosis)
                    <li class="uppercase">{{ item.diagnosis.description }} , {{ item.comment }}</li>
                @endeach
            </ul>
        </div>

        <div class="receta-section">
            <h3>Tratamiento</h3>
            <ul>
                @each(item in office.tratamientos)
                    <li>
                        {{ item.medicamento }}, {{ item.presentation }}, {{ item.frequency }}, {{ item.administration }}, {{ item.duration }}
                    </li>
                @endeach
            </ul>
        </div>

        <div class="firma-medico">
            <p class="firma-border">Firma del Médico</p>
        </div>
    </div>
</body>
</html>